body {
    background-color: #263238;
    color: #fff;
    hr {
        background-color: #ddd;
    }
    .title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .display-2{
    	padding: 50px 0px;
    }
    .work{
    	color: #fff;
    }
}
